<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Styles/a_flex_practice.css">
  <title>중첩된 Flex box 실습</title>
</head>
<body>
  <header>
    <h1>Complex flex box example</h1>
  </header>

  <section>
    <article class="article1">
      <h2>First article</h2>
      <p>Tacos actually microdosing. pour-over semiotrics banjo chicharrones retro fanny pack portland everyday carry vinyltypewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hanshtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health hoth gastropub hammock.</p>
    </article>
    <article class="article2">
      <h2>Second article</h2>
      <p>Tacos actually microdosing. pour-over semiotrics banjo chicharrones retro fanny pack portland everyday carry vinyltypewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hanshtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health hoth gastropub hammock.</p>   
    </article>
    <article class="article3">
      <div class="btn-div">
        <button class="small-btn">Smile</button>
        <button class="small-btn">Laugh</button>
        <button class="small-btn">Wink</button>
        <button class="small-btn">Shrug</button>
        <button class="big-btn">Blush</button>
      </div>
      <div>
        <p>Tacos actually microdosing. pour-over semiotrics banjo chicharrones retro fanny pack portland everyday carry vinyltypewriter. Tacos PBR&B pork belly, everyday carry ennui pickled sriracha normcore hanshtag polaroid single-origin coffee cold-pressed. PBR&B tattooed trust fund twee, leggings salvia iPhone photo booth health hoth gastropub hammock.</p>
      </div>
      <div>
        <p>Cray food truck burnch, XOXO + 1 keffiyeh pickled chambray waistcoat ennui. Organic small abtch paleo 8-bit. Intelligentsia umami wayfares pickled, asymmetrical kombucha letterpress kitsch leggings cold-pressed squid chartreuse put a bird on it. Listcle pickled man bun cornhole heirloom art party.</p>
      </div>
    </article>
  </section>
</body>


</html>