* {
  margin: 0;
  padding: 0;
}

.container>div, .grid-minmax>div {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: #fff;
  margin: 20px;
  padding: 10px;
}

.container {
  /* margin: 5px; */
  display: grid;
  /* grid-template-columns: repeat(3, 200px); */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-minmax {
  display: grid;
  /* grid-template-columns: minmax(100px, 300px) minmax(200px, 400px) minmax(50px, 150px); */
  grid-template-columns: minmax(auto, 1fr) 2fr;
}