table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

table {
  width: 300px;
}

th, td {
  padding: 10px 20px;
  text-align: center;
}

.heading {
  background-color: #eee;
}


caption {
  caption-side: bottom;
  margin: 10px;
}

