hr {
  border:1px solid #000;
  margin: 50px 0
}

body {
  width: 70%;
  max-width: 900px;
  margin: 20px auto;
  background-color: rgb(188, 212, 233);
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
  border: none
}

div {
  height: 100px;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button:first-child {
  /* align-self: flex-start; */
  order: 0;
}
button:nth-child(2) {
  /* align-self: flex-start; */
  order: 4;
}
button:nth-child(3) {
  /* align-self: flex-start; */
  order: 3;
}
button:nth-child(4) {
  /* align-self: flex-start; */
  order: 2;
}

button:last-child {
  /* align-self: stretch; */
  order: 1;
}


.container {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 300px;
  border: 1px solid #333;
  align-content: space-between;
}

.item {
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  margin: 5px
}