h2, h3, p {
  color: green;
}

section {
  border: 1px solid #ccc;
}

/* 하위 선택자 */
section p {
  color: blue;
}

/* 자식 선택자 */
section > p {
  color: pink;
}

/* 인접 형제 선택자 */
h2 + p {
  background-color: black;
}

h2 ~ p {
  font-weight: bolder;
  text-decoration: underline;
}
